#z_page_freeprint
{
    padding: 1em;
}
#z_page_freeprint table
{
    width: 100%;
    border: solid 1px #000000;
    border-collapse: collapse;
}
#z_page_freeprint a
{
    text-decoration: none;
    color: inherit;
}
#z_page_freeprint tr.filters
{
    display: none;
}
#z_page_freeprint th,
#z_page_freeprint td
{
    text-align: center;
    border: solid 1px #000000;
    border-collapse: collapse;
}
