html
{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 12px;
}
.col
{
    flex: 1 0 50%;
}

/*Главная обертка*/
#fb_wrap
{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    box-sizing: padding-box;
}

#fb_preloader
{
    background-color: rgba(255,255,255,0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 20;
}
#fb_preloader .spinner-border
{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

/*Страницы*/
#fb_pages
{
    width: 100%;
}
#fb_pages .fb_page
{

}

/*Меню*/
#fb_wrap #fb_user_name,
#fb_wrap #fb_user_balance
{
    color: #FFFFFF;
}

/*Форма*/
#fb_wrap .fb_page .control-group
{
    margin-bottom: 1em;
}
#fb_wrap .fb_page .form-group
{
    position: relative;
    min-height: 100%;
}
#fb_wrap .fb_page .control-label,
#fb_terminal_view_wrap .control-label
{
    font-size: 1.28em;
}

/*Подвал*/
#footer
{
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #01305C;
}

#footer .btn:focus
{
    outline-color: transparent;
}

/*Кнопки*/
#footer .menu-footer .btn
{
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 70%;
    max-width: 2.555em;
    float: none;
}

@media screen and (min-width: 640px) {
    #footer .menu-footer .btn
    {
        max-width: initial;
    }
}

#footer .menu-footer .btn:hover
{
    background-color: #EEEEEE;
}
#footer .menu-footer .btn.active
{
    background-color: #FFFC01;
}
#footer .menu-footer #footer_terminalinput.btn
{
    background-image: url("../images/icons/plus.png");
}
#footer .menu-footer #footer_terminaloutput.btn
{
    background-image: url("../images/icons/minus.png");
}
#footer .menu-footer #footer_terminaloperation.btn
{
    background-image: url("../images/icons/operations.png");
}
#footer .menu-footer #footer_terminalalias.btn
{
    background-image: url("../images/icons/options.png");
}
#footer .menu-footer #footer_terminallogout
{
    background-image: url("../images/icons/exit.png");
}
#footer .menu-footer .glyphicon
{
    vertical-align: middle;
}
#footer .row
{
    margin: 4px 0;
}

#footer .row > .col-xs-2
{
    width: 20.0%;
    padding-right: 7.5px;
    padding-left: 7.5px;
}
#footer .row > .col-xs-2:first-child
{
    padding-left: 0;
}
#footer .row > .col-xs-2:last-child
{
    padding-right: 0;
}

[data-comment-id]
{
    position: relative;
}
[data-comment-id] .comment-snipper
{
    position: absolute;
    background-color: rgba(255,255,255,0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}